.profileWrapper{
    display: grid;
    grid-template-columns: (10, 1fr);
    width: 100%;
    padding: 20px;
    
}

.profileImg{
    width: 5vh;
    border-radius: 50%;
    grid-column: 1/5;

}
.displayesusername{
    align-self: center;
    grid-column: 7/11;
}
.profiledropdown{
    display: none;
    position:absolute;
    background-color: whitesmoke;
    min-width: 200px;
    padding: 12px, 16px;
    z-index: 10;
    margin-top: 58px;
    border-radius: 10%;
}
.profileWrapper:hover .profiledropdown{
    display: inline-block;
}
.profiledropdown a{
display: block;
cursor: pointer;
padding: 10px;
}